SUBSYSTEM=="usb", ATTRS{idVendor}=="2341", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1fc9", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0525", MODE="0666"
